.carousel-caption d-none d-md-block h1 {
  font-family: 'Lobster Two', cursive;
}

nav {
    font-family: 'Lobster Two', cursive;
    background-color: #c5cbe3;
}

p {
    font-family: 'Lobster Two', cursive;
}

h1 {
  color: #f13c20;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.carousel-feature {
  color: #f13c20;
  font-family: 'Lobster', cursive;
}

.featurette-heading {
  color: #f13c20;
  font-family: 'Lobster', cursive;
}

.lead {
  font-family: serif;
}
