
h1 {
  color:red;
  font-family: 'Londrina Shadow', cursive;
  font-size: 75px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

section nav {
    display: flex;
    padding: 0 20px;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    padding: 0 20px;
    display: flex;
}
