
h1 {
  color:red;
  font-family: 'Londrina Shadow', cursive;
  font-size: 75px;
  text-align: center;
}


header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}
